# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.ruff_cache/
.mypy_cache/
.dmypy.json

# Environments
.env
.env.*
.venv/
venv/
env/

# Distribution / packaging
dist/
build/
*.egg-info/

# Editors
.vscode/
.idea/
*.swp
*.swo
